*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navigator{
    margin-top: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    word-spacing: 2rem;
}

#box{
    margin-left: -10px;
    padding-left: 15px;
    background-color: rgb(98, 119, 6);
    
}

a{
    text-transform: 1 rem;
    color: rgb(200, 255, 0);
    text-decoration: none;
    font-size: 20px;
    word-spacing: 0.5px;
}
p{
    padding: 15px;
    background-color: rgb(113, 126, 43);
    background-attachment: fixed;
    text-align: justify;
    display: ;

}

img{
    margin-left: 10px;
    border: 10px solid rgb(98, 119, 6);
    width: 40vw;
}
#Top{
    padding-left: 30px;
}